<head>
    <title> {% block title %}test{% endblock %}</title>
</head> 
<body>
    {% block content %}
    {% endblock %}
</body>
{% block stylesheets %}
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/side-nav.css" />
    <link rel="stylesheet" href="css/white-theme.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/glyphicons.css" />
    <link rel="stylesheet" href="css/halflings.css" />
    <link rel="stylesheet" href="css/popup-menu.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/buttons.css" />
    <link rel="stylesheet" href="css/jquery-ui-1.10.2.custom.min.css" />
{% endblock %}
{% block javascripts %}
    <script data-main="js/main" src="js/lib/require-jquery.js"></script>
{% endblock %}
