.modal {
  position: absolute;
  border-radius: 5px;
  z-index: 200;
  min-width: 500px;
}
.modal.dark {
  background-color: #616060;
  border: 1px solid #363636;
  -webkit-font-smoothing: antialiased;
  color: #f7f5f5;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 20px;
}
.modal.hide {
  display: none;
}
.modal .content {
  overflow: auto;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0.2;
  z-index: 100;
}
