<div id="side-nav-container" class="float-left inline white-theme">
    <div class="wrapper">
        <ul>
            <li class="title"><a>Freezers</a></li>
            <div class="section freezers">
            </div>
        </ul>
    </div>
</div>
