<div class="overlay">
</div>
<div class="modal dark hide">
    <form class="dark-form edit-freezer-form">
        <div class="title">
            Editing <%= htmlEncode(freezer.get('name')) %>
        </div>
        <div class="content">
            <input type="hidden" name="freezer[id]" value="<%= freezer.get('id') %>" />
            <div class="group">
                <label for="freezer[name]">Name</label>
                <input class="large" name="freezer[name]" type="text" value="<%= htmlEncode(freezer.get('name')) %>"></input>
                <div data-error="freezer[name]" class="error" style="display: none"></div>
            </div>
            <div class="group">
                <label for="freezer[description]">Description</label>
                <input class="xlarge" name="freezer[description]" type="text" value="<%= htmlEncode(freezer.get('description')) %>"></input>
                <div data-error="freezer[description]" class="error" style="display: none"></div>
            </div> 
        </div>
        <div class="actions">
            <button class="btn" type="submit">Submit</input>
            <button class="btn btn-danger delete" onclick="return false;" data-id="<%= freezer.get('id') %>">Delete</button>
            <button class="btn btn-danger" onclick="location.href='/#'; return false;">Cancel</button>
        </div>
    </form>
</div>
